<!-- pessoa-lista.component.html -->

<div class="container">
    <h2>Lista de Pessoas</h2>
  
    <!-- Filtro -->
    <div class="row mb-3">
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Filtrar por nome" [(ngModel)]="filtro.nome">
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Filtrar por sobrenome" [(ngModel)]="filtro.sobrenome">
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Filtrar por CPF" [(ngModel)]="filtro.cpf">
          </div>
          <div class="col-md-3">
            <select class="form-control" [(ngModel)]="filtro.statusId">
                <option value="">Selecionar status</option>
                <option *ngFor="let status of statusList" [value]="status.id">{{ status.descricao }}</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3">
              <input type="date" class="form-control" placeholder="Data Início" [(ngModel)]="filtro.dataInicio">
            </div>
            <div class="col-md-3">
              <input type="date" class="form-control" placeholder="Data Fim" [(ngModel)]="filtro.dataFim">
            </div>
          </div>
      <div class="col-md-4">
        <button class="btn btn-primary mr-2" (click)="pesquisar()">Pesquisar</button>
        <button class="btn btn-secondary" (click)="limparFiltro()">Limpar</button>
      </div>
      <div class="col-md-4 text-right">
        <button class="btn btn-success" (click)="novo()">Novo</button>
      </div>
    </div>
  
    <!-- Tabela de Pessoas -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>CPF</th>
          <th>Status</th>
          <th>Data de Cadastro</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pessoa of pessoas">
          <td>{{ pessoa.nome }}</td>
          <td>{{ pessoa.sobrenome }}</td>
          <td>{{ pessoa.cpf }}</td>
          <td>{{ pessoa.status.descricao }}</td>
          <td>{{ pessoa.data_cadastro }}</td>
          <td>
            <button class="btn btn-primary mr-2" (click)="editar(pessoa)">Editar</button>
            <button class="btn btn-primary mr-2" (click)="detalhes(pessoa)">Detalhes</button>
            <button class="btn btn-danger" (click)="excluir(pessoa)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
